<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" style="font-size: 30px;">Novodhi Solutions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> &nbsp;

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="/formdb" style="font-size: 21px;">Form<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" href="/show" style="font-size: 21px;">Database<span class="sr-only">(current)</span></a>
      </li>
    </ul>
</div>
</nav>
