<div class="container">
  <form style="text-align: center;" [formGroup]="permanant" (ngSubmit)="presentedit()">
<div class="container">
  <div class="col-lg-12 well">
    <div class="row">
      <div>
        <div class="form-group div">
          <label>Emp Id</label>
          <input type="number" formControlName="emp_id" class="form-control adjust">
        </div>
      <div class="form-group div" style="margin-left: 4%;">
          <label>Present Address<span class="lblError">*</span></label>
          <textarea placeholder="Enter Address" rows="3" style="width: 500%;"  value={{permanantAdd1}} formControlName="presentadd" class="form-control adjust"></textarea>
          <!-- <p class="lblError" *ngIf="permanant.get('presentadd').hasError('required') && !permanant.get('presentadd').pristine">Permanant address is required</p> -->
      </div>

      <div class="row"style="margin-left: 5%;">
        <div class="col-sm-2">
        <div class="form-group div">
          <label>Select City: <span class="lblError">*</span></label>&nbsp;
            <select formControlName="pcity" value={{city1}} >
              <option value="">Select...</option>
              <option value="hyderabad">Hyderabad</option>
              <option value="chennai">Chennai</option>
              <option value="pune">Pune</option>
              <option value="bengaluru">Bengaluru</option>
            </select>
            <!-- <p *ngIf="permanant.get('pcity').hasError('required') && !permanant.get('pcity').pristine" class="lblError">
              Please select City.</p> -->
        </div>
        </div>
        <div class="col-sm-2">
          <div class="div">
            <label>Select Country:</label>&nbsp;
            <select formControlName="pcountry" value={{country1}}>
              <option value="">Select...</option>
              <option value="india">India</option>
              <option value="us">US</option>
              <option value="usa">USA</option>
              <option value="dubai">Dubai</option>
              <option value="brazil">Brazil</option>
            </select>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group div">
            <label>Select State:</label>&nbsp;
            <select formControlName="pstate" value={{state1}}>
              <option value="">Select...</option>
              <option value="maharashtra">Maharashtra</option>
              <option value="kerala">Kerala</option>
              <option value="mp">MP</option>
              <option value="delhi">Delhi</option>
              <option value="panjab">Panjab</option>
            </select>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group div">
            <label>Select District:</label>&nbsp;
            <select formControlName="pdistrict" value={{district1}}>
              <option value="">Select...</option>
              <option value="pune">Pune</option>
              <option value="sangli">Sangli</option>
              <option value="kolhapur">Kolhapur</option>
              <option value="amravati">Amravati</option>
              <option value="nashik">Nashik</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label>Pincode</label>
          <input type="number" placeholder="Enter pincode"style="width: 150%;" value={{pincode1}} class="form-control" formControlName="ppincode">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;

        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label>Phone 1</label>
          <input type="number" placeholder="Enter phone1"style="width: 150%;margin-left: 20%;" value={{phone11}} class="form-control" formControlName="pphone1">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;
        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label style="margin-left: 60%;">Phone 2</label>
          <input type="number" placeholder="Enter phone2" style="width: 150%;margin-left: 50%;" value={{phone21}} class="form-control" formControlName="pphone2">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 form-group div" style="margin-left: 6%;">
          <label>Fax/Mobile</label>
          <input type="text" placeholder="Enter fax/mobile" style="width: 150%;" value={{fax1}} class="form-control" formControlName="pfax">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;
        <div class="col-sm-4 form-group div" style="margin-left: 6%;">
          <label>Mobile</label>
          <input type="number" placeholder="Enter mailid" style="width: 150%;" value={{pmobile}} class="form-control" formControlName="pmobile">
        </div>
      </div>
</div>
</div>
</div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Edit PresentAdd</button>
</div>
</form>
</div>

