<div class="container">
<h2>{{taskId1}}</h2>
  <form style="text-align: center;" [formGroup]="permanant" (ngSubmit)="permanantedit()">
    <div class="container">

    <div class="col-lg-12 well">

      <div class="row">


    <div formGroupName="PermanantAddEdit">
      <div>
        <label>Id</label>
        <input type="number" placeholder="Enter Id" class="form-control" formControlName="emp_id">
      </div>
      <div class="form-group div" style="margin-left: 5%;">
          <label>Permanant Address<span class="lblError">*</span></label>
          <textarea placeholder="Enter Address" rows="3" style="width: 130%;" formControlName="permanantadd" class="form-control adjust"></textarea>
          <p class="lblError" *ngIf="permanant.get('PermanantAddEdit').get('permanantadd').hasError('required') && !permanant.get('PermanantAddEdit').get('permanantadd').pristine">Permanant address is required</p>
      </div>

      <div class="row" style="margin-left: 5%;">
        <div class="col-sm-2">
        <div class="form-group div">
          <label>Select City: <span class="lblError">*</span></label>&nbsp;
            <select formControlName="city">
              <option value="">Select...</option>
              <option value="hyderabad">Hyderabad</option>
              <option value="chennai">Chennai</option>
              <option value="pune">Pune</option>
              <option value="bengaluru">Bengaluru</option>
            </select>
            <p *ngIf="permanant.get('PermanantAddEdit').get('city').hasError('required') && !permanant.get('PermanantAddEdit').get('city').pristine" class="lblError">
              Please select City.</p>
        </div>
        </div>
        <div class="col-sm-2">
          <div class="div">
            <label>Select Country:</label>&nbsp;
            <select formControlName="country">
              <option value="">Select...</option>
              <option value="india">India</option>
              <option value="us">US</option>
              <option value="usa">USA</option>
              <option value="dubai">Dubai</option>
              <option value="brazil">Brazil</option>
            </select>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group div">
            <label>Select State:</label>&nbsp;
            <select formControlName="state">
              <option value="">Select...</option>
              <option value="maharashtra">Maharashtra</option>
              <option value="kerala">Kerala</option>
              <option value="mp">MP</option>
              <option value="delhi">Delhi</option>
              <option value="panjab">Panjab</option>
            </select>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group div">
            <label>Select District:</label>&nbsp;
            <select formControlName="district">
              <option value="">Select...</option>
              <option value="pune">Pune</option>
              <option value="sangli">Sangli</option>
              <option value="kolhapur">Kolhapur</option>
              <option value="amravati">Amravati</option>
              <option value="nashik">Nashik</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label>Pincode</label>
          <input type="number" placeholder="Enter pincode" style="width: 150%;" class="form-control" formControlName="pincode">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;
        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label>Phone 1</label>
          <input type="number" placeholder="Enter phone1" style="width: 150%;margin-left: 20%;" class="form-control" formControlName="phone1">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;

        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label style="margin-left: 60%;">Phone 2</label>
          <input type="number" placeholder="Enter phone2" style="width: 150%; margin-left: 50%;" class="form-control" formControlName="phone2">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 form-group div" style="margin-left: 5%;">
          <label>Fax/Mobile</label>
          <input type="text" placeholder="Enter fax/mobile" class="form-control" formControlName="fax">
        </div>

        <div class="col-sm-4 form-group div" style="margin-left: 5%;">
          <label>Mobile</label>
          <input type="number" placeholder="Enter mobile" class="form-control" formControlName="mobile">
        </div>
      </div>

      <div class="form-group col-md-4" style="margin-left: 5%;">
        <input type="checkbox" formControlName="sameaddress">&nbsp;<label for="inputEmail4">Same as Present Address<span class="lblError">*</span></label>
      </div>
      <!-- <button class="btn btn-primary" type="submit"> Save Details</button> (click)="onclick()" -->

  </div>
</div>
</div>
</div>

  <div class="container">

  <h1 class="well div" style="text-align: center;">Present Address Details</h1>

  <div class="col-lg-12 well">

    <div class="row">
      <div>


      <div class="form-group div" style="margin-left: 4%;">
          <label>Present Address<span class="lblError">*</span></label>
          <textarea placeholder="Enter Address" rows="3" style="width: 130%;"  value={{permanantAdd1}} formControlName="presentaddEdit" class="form-control adjust"></textarea>
          <!-- <p class="lblError" *ngIf="permanant.get('presentadd').hasError('required') && !permanant.get('presentadd').pristine">Permanant address is required</p> -->
      </div>

      <div class="row"style="margin-left: 5%;">
        <div class="col-sm-2">
        <div class="form-group div">
          <label>Select City: <span class="lblError">*</span></label>&nbsp;
            <select formControlName="pcity" value={{city1}} >
              <option value="">Select...</option>
              <option value="hyderabad">Hyderabad</option>
              <option value="chennai">Chennai</option>
              <option value="pune">Pune</option>
              <option value="bengaluru">Bengaluru</option>
            </select>
            <!-- <p *ngIf="permanant.get('pcity').hasError('required') && !permanant.get('pcity').pristine" class="lblError">
              Please select City.</p> -->
        </div>
        </div>
        <div class="col-sm-2">
          <div class="div">
            <label>Select Country:</label>&nbsp;
            <select formControlName="pcountry" value={{country1}}>
              <option value="">Select...</option>
              <option value="india">India</option>
              <option value="us">US</option>
              <option value="usa">USA</option>
              <option value="dubai">Dubai</option>
              <option value="brazil">Brazil</option>
            </select>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group div">
            <label>Select State:</label>&nbsp;
            <select formControlName="pstate" value={{state1}}>
              <option value="">Select...</option>
              <option value="maharashtra">Maharashtra</option>
              <option value="kerala">Kerala</option>
              <option value="mp">MP</option>
              <option value="delhi">Delhi</option>
              <option value="panjab">Panjab</option>
            </select>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group div">
            <label>Select District:</label>&nbsp;
            <select formControlName="pdistrict" value={{district1}}>
              <option value="">Select...</option>
              <option value="pune">Pune</option>
              <option value="sangli">Sangli</option>
              <option value="kolhapur">Kolhapur</option>
              <option value="amravati">Amravati</option>
              <option value="nashik">Nashik</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label>Pincode</label>
          <input type="number" placeholder="Enter pincode"style="width: 150%;" value={{pincode1}} class="form-control" formControlName="ppincode">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;

        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label>Phone 1</label>
          <input type="number" placeholder="Enter phone1"style="width: 150%;margin-left: 20%;" value={{phone11}} class="form-control" formControlName="pphone1">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;
        <div class="col-sm-3 form-group div" style="margin-left: 5%;">
          <label style="margin-left: 60%;">Phone 2</label>
          <input type="number" placeholder="Enter phone2" style="width: 150%;margin-left: 50%;" value={{phone21}} class="form-control" formControlName="pphone2">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 form-group div" style="margin-left: 6%;">
          <label>Fax/Mobile</label>
          <input type="text" placeholder="Enter fax/mobile" style="width: 150%;" value={{fax1}} class="form-control" formControlName="pfax">
        </div>
        &nbsp; &nbsp;
        &nbsp;  &nbsp;
        <div class="col-sm-4 form-group div" style="margin-left: 6%;">
          <label>Personal MailID</label>
          <input type="email" placeholder="Enter mailid" style="width: 150%;" value={{personalmailId1}} class="form-control" formControlName="pmobile">
        </div>
      </div>
</div>
</div>
</div>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Edit BasicInfo</button>
</div>
</form>

</div>
